html {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      body {
        background-image: linear-gradient(to bottom, #c6b4e4, #c9b8e4, #cdbde4, #d0c1e5, #d3c6e5, #d7cae7, #dcceea, #e0d2ec, #e6d7f1, #eddcf6, #f3e1fa, #fae6ff);
        font-family: monospace, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        margin: 0;
        padding: 0;
      }

      h1 {
        text-shadow: 2px 3px 0px #898999;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0px;
      }

      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
        min-height: 100%;
      }

      .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
      }

      .col {
        flex: 1;
        max-width: 33.33%;
        padding: 0 10px;
      }

      .card {
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        transition: box-shadow .2s ease-in-out;
        color: #333
      }

      .card:hover {
        box-shadow: 0 8px 24px rgba(0, 0, 0, .14), 0 16px 24px rgba(0, 0, 0, .08);
      }

      .card h2 {
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 10px;
      }

      .card p {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 20px;
        line-height: 1.5;
      }

      .card a {
        display: block;
        text-align: center;
        background-color: #7e57c2;
        color: #fff;
        border-radius: 8px;
        padding: 10px 20px;
        text-decoration: none;
        transition: background-color .2s ease-in-out;
      }

      .card a:hover {
        background-color: #583d88;
      }

      .card img {
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto 20px;
      }

      .card-label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      }

      .card-label a {
        color: #8b68c8;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
      }

      .copy-button {
        background-color: #7e57c2;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }

      .copy-button:hover {
        background-color: #583d88;
      }

      .copy-button:focus {
        outline: none;
      }

      .toast {
        position: fixed;
        top: 10px;
        /* Adjust this value to position the toast at the desired distance from the top */
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        background-color: #333;
        color: #fff;
        border-radius: 5px;
        z-index: 999;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      .toast.show {
        opacity: 1;
      }

      @media screen and (max-width: 767px) {
        .col {
          max-width: 100%;
        }
      }